* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.carousel-item {
  height: 80vh;
}

.carousel-item img {
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.row {
  margin: 0;
}

@media (min-width: 200px) {
  main {
    display: flex;
    flex-direction: column;
    row-gap: 7vh;
  }

  nav {
    display: flex;
    justify-content: space-between;
    background-color: darkturquoise;
    padding: 1%;
  }

  nav > ul {
    display: flex;
    column-gap: 0.5vh;
  }

  nav a {
    color: black;
    font-weight: 500;
  }

  #perfil {
    background-color: gainsboro;
    padding: 1%;
    display: flex;
    flex-direction: column;
  }

  #perfil > h2 {
    padding-left: 7%;
  }

  #perfil figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
  }

  #perfil img {
    width: 85%;
  }

  #perfil figcaption {
    width: 85%;
  }

  .sociais {
    display: flex;
    justify-content: center;
    column-gap: 7vh;
  }

  .sociais > li > a {
    font-size: 35px;
    color: black;
  }

  #repositorios {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4vh;
    background-color: darkturquoise;
    padding: 5% 0 5% 0;
  }

  #repositorios > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .card img {
    height: 40vh;
  }

  #colegas {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4vh;
    padding-bottom: 5%;
  }

  #colegas img {
    width: 240px;
    height: 50vh;
    border-radius: 7px 7px 0 0;
  }

  #colegas figcaption {
    padding: 3%;
    border-radius: 0 0 7px 7px;
    background-color: gainsboro;
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 20vh;
  }

  .repo-detalhes {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding: 2%;
  }

  .repo-detalhes h4 {
    color: darkturquoise;
  }

  @media (min-width: 1000px) {
    nav > ul a {
      font-size: 27px;
    }

    nav > ul a:hover {
      text-decoration: underline;
    }
    
    nav > ul {
      column-gap: 7vh;
    }

    #perfil > h2 {
      padding: 0;
    }

    #perfil figure {
      flex-direction: row;
      column-gap: 5vh;
    }

    #perfil-figure img {
      width: 30%;
    }

    #perfil figcaption {
      display: flex;
      flex-direction: column;
      row-gap: 3vh;
    }
    
    #perfil figcaption p {
      font-size: 22px;
    }

    #perfil aside {
      display: flex;
      justify-content: space-between;
    }

    .sociais {
      margin-top: 2%;
    }

    .sociais > li > a {
      font-size: 80px;
    }

    .sociais > li > a:hover {
      color: darkturquoise;
    }

    #repositorios {
      flex-direction: row;
    }

    .repo-main > aside {
      display: flex;
      justify-content: flex-start;
      column-gap: 2vh;
      padding: 2%;
    }

    .repo-descricao {
      font-size: 20px;
      width: 70%;
    }

    #fit-flex-img {
      height: 100%;
      width: auto;
    }
    #sneakers-img {
      height: 100%;
      width: auto;
    }
    #expense-img {
      height: 100%;
      width: auto;
    }

    .card:hover {
      scale: 1.02;
    }

    #colegas {
      flex-direction: row;
      justify-content: space-evenly;
    }

    #colegas img {
      width: 330px;
    }

    footer {
      height: 15vh;
    }
  }
}
